// $dropdown-title-container-color: #222;
// $dropdown-title-container-border: #ddd;
// $dropdown-title-box-border-color: #ddd;
// $dropdown-title-triangle-color: #000;
// $dropdown-search-container-border-color: #ddd;
// $dropdown-search-container-color: #ddd;
// $dropdown-clear-background-color: #ddd;
// $dropdown-clear-color: #ddd;
// $dropdown-options-border-color: #ddd;
// $dropdown-options-background-color: #fff;
// $dropdown-options-box-shadow-color: rgba(#000, 0.3);
// $dropdown-option-border-bottom-color: #ddd;
// $dropdown-option-text-color: #aaa;
// $dropdown-option-hover-background-color: #ddd;
// $dropdown-search-icon-background: #fff;
// $dropdown-search-icon-border-color: #888;

$ms-dropdown-title-container-color: #000;
$ms-dropdown-title-container-border: #eaeaea;
$ms-dropdown-title-box-border-color: #eaeaea;
$ms-dropdown-title-triangle-color: #9b9b9b; //#0086fca9;
$ms-dropdown-title-traingle-border-top-width: 9px;
$ms-dropdown-title-traingle-border-left-width: 5px;
$ms-dropdown-search-container-border-color: #ddd;
$ms-dropdown-search-container-color: #ddd;
$ms-dropdown-clear-background-color: #ddd;
$ms-dropdown-clear-color: #ddd;
$ms-dropdown-options-border-color: #ddd;
$ms-dropdown-options-background-color: #fff;
$ms-dropdown-options-box-shadow: 0 1px 2px rgba(#000, 0.3);
$ms-dropdown-option-border-bottom-color: #ddd;
$ms-dropdown-option-hover-background-color: #ddd;
$ms-dropdown-search-icon-background: #fff;
$ms-dropdown-search-icon-border-color: #888;
$ms-dropdown-submit-btn-background-color: #7a58c9;
$ms-dropdown-submit-btn-hover-background-color: #7a58c9;
$ms-dropdown-submit-btn-disabled-background-color: #7a58c9;
$ms-dropdown-submit-btn-color: #fff;
$ms-dropdown-submit-btn-hover-color: #fff;
$ms-dropdown-submit-btn-disabled-color: #fff;

$ms-dropdown-clear-btn-color: #595959;
$ms-dropdown-clear-btn-hover-color: #595959;
$ms-dropdown-clear-btn-disabled-color: #595959;
$ms-dropdown-clear-btn-background-color: #e6e6e6;
$ms-dropdown-clear-btn-hover-background-color: #e6e6e6;
$ms-dropdown-clear-btn-disabled-background-color: #e6e6e6;

$ms-dropdown-select-all-btn-color: #595959;
$ms-dropdown-select-all-btn-hover-color: #595959;
$ms-dropdown-select-all-btn-disabled-color: #595959;
$ms-dropdown-select-all-btn-background-color: #e6e6e6;
$ms-dropdown-select-all-btn-hover-background-color: #e6e6e6;
$ms-dropdown-select-all-btn-disabled-background-color: #e6e6e6;

$ms-dropdown-border-radius: 0;
$ms-dropdown-box-height: 31px;
$ms-dropdown-box-padding: 0 5px 0 5px;

$ms-dropdown-width: 130px;
$ms-dropdown-container-width: 200px;
$ms-dropdown-container-height: 200px;
$ms-dropdown-container-list: 4px;
$ms-dropdown-options-border-radius: 4px;
$ms-default-text-transform: capitalize;

$ms-dropdown-container-list-font-color: #4a4a4a;

$ms-dropdown-container-box-shadow: #ddd 0px 3px 7px 1px;

$ms-dropdown-container-list-text-align: left;
