@import "~antd/dist/antd.min.css";
// @import "~antd/lib/table/style/index.css";
// // demo-ui/node_modules/antd/lib/pagination/style/index.css
// @import "~antd/lib/pagination/style/index.css";
// @import "~antd/lib/button/style/index.css";
// @import "~antd/lib/tooltip/style/index.css";
// @import "~antd/lib/typography/style/index.css";
// @import "~antd/lib/spin/style/index.css";
// @import "~antd/lib/modal/style/index.css";
// @import "~antd/lib/form/style/index.css";
// @import "~antd/lib/input/style/index.css";

body {
  margin: 0;
  font-family: poppins, sans-serif, lato, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: content-box;
  // overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  box-sizing: content-box;
  font-family: poppins, sans-serif, lato, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}
