.suggestions {
  padding: 0 10px;
  &-container {
    background: #f6f6f6;
    padding: 20px;
    border-radius: 5px;
  }
  &-heading {
    font-size: 26px;
    color: #f34a4a;
    padding: 15px 0;
    display: flex;
    align-items: center;
    font-weight: 400;
    /* padding-left: 10px; */
    /* text-align: center; */
    /* width: 100%; */
    display: block;
  }
  .car-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ant-btn:active,
  .ant-btn:focus,
  .ant-btn:hover {
    text-decoration: none;
    background: #fff;
    color: #f34a4a;
    border-color: #f34a4a;
  }
}
